body {
    font-family: Arial, sans-serif;
    background: hsl(216, 33%, 97%);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Allow the body to have a header and main content */
}

main {
    flex-grow: 1; /* This will make the main content grow and take the full height available */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 400px;
    height: 300px; /* Set a fixed height for the box */
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* No margin is needed as it should stay centered */
}

.verification-box {
    width: 100%;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 50px;
    margin-top:0px;
    font-size: 2em;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
